<a href="https://colab.research.google.com/github/cyphr0st/infosec/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [21]:
drinks = pd.read_csv('https://raw.githubusercontent.com/cyphr0st/infosec/master/data2/drinks.csv')

type(drinks)

pandas.core.frame.DataFrame

In [22]:
drinks

         country  beer_servings  ...  total_litres_of_pure_alcohol  continent
0    Afghanistan              0  ...                           0.0         AS
1        Albania             89  ...                           4.9         EU
2        Algeria             25  ...                           0.7         AF
3        Andorra            245  ...                          12.4         EU
4         Angola            217  ...                           5.9         AF
..           ...            ...  ...                           ...        ...
188    Venezuela            333  ...                           7.7         SA
189      Vietnam            111  ...                           2.0         AS
190        Yemen              6  ...                           0.1         AS
191       Zambia             32  ...                           2.5         AF
192     Zimbabwe             64  ...                           4.7         AF

[193 rows x 6 columns]

In [7]:
drinks.head

<bound method NDFrame.head of          country  beer_servings  ...  total_litres_of_pure_alcohol  continent
0    Afghanistan              0  ...                           0.0         AS
1        Albania             89  ...                           4.9         EU
2        Algeria             25  ...                           0.7         AF
3        Andorra            245  ...                          12.4         EU
4         Angola            217  ...                           5.9         AF
..           ...            ...  ...                           ...        ...
188    Venezuela            333  ...                           7.7         SA
189      Vietnam            111  ...                           2.0         AS
190        Yemen              6  ...                           0.1         AS
191       Zambia             32  ...                           2.5         AF
192     Zimbabwe             64  ...                           4.7         AF

[193 rows x 6 columns]>

In [8]:
drinks.tail

<bound method NDFrame.tail of          country  beer_servings  ...  total_litres_of_pure_alcohol  continent
0    Afghanistan              0  ...                           0.0         AS
1        Albania             89  ...                           4.9         EU
2        Algeria             25  ...                           0.7         AF
3        Andorra            245  ...                          12.4         EU
4         Angola            217  ...                           5.9         AF
..           ...            ...  ...                           ...        ...
188    Venezuela            333  ...                           7.7         SA
189      Vietnam            111  ...                           2.0         AS
190        Yemen              6  ...                           0.1         AS
191       Zambia             32  ...                           2.5         AF
192     Zimbabwe             64  ...                           4.7         AF

[193 rows x 6 columns]>

In [13]:
drinks.describe()

       beer_servings  ...  total_litres_of_pure_alcohol
count     193.000000  ...                    193.000000
mean      106.160622  ...                      4.717098
std       101.143103  ...                      3.773298
min         0.000000  ...                      0.000000
25%        20.000000  ...                      1.300000
50%        76.000000  ...                      4.200000
75%       188.000000  ...                      7.200000
max       376.000000  ...                     14.400000

[8 rows x 4 columns]

In [23]:
drinks.co
lumns

Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')

In [28]:
d = {'a':[1,2], 'b':[3,4]}
pd.DataFrame(d)

   a  b
0  1  3
1  2  4

In [29]:
drinks.shape

(193, 6)