<a href="https://colab.research.google.com/github/cyphr0st/infosec/blob/analytics/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
drinks = pd.read_csv('https://raw.githubusercontent.com/cyphr0st/infosec/master/data2/drinks.csv')
pd.set_option('max_rows', 99999)
type(drinks)

pandas.core.frame.DataFrame

In [3]:
drinks

         country  beer_servings  ...  total_litres_of_pure_alcohol  continent
0    Afghanistan              0  ...                           0.0         AS
1        Albania             89  ...                           4.9         EU
2        Algeria             25  ...                           0.7         AF
3        Andorra            245  ...                          12.4         EU
4         Angola            217  ...                           5.9         AF
..           ...            ...  ...                           ...        ...
188    Venezuela            333  ...                           7.7         SA
189      Vietnam            111  ...                           2.0         AS
190        Yemen              6  ...                           0.1         AS
191       Zambia             32  ...                           2.5         AF
192     Zimbabwe             64  ...                           4.7         AF

[193 rows x 6 columns]

In [7]:
drinks.head

<bound method NDFrame.head of          country  beer_servings  ...  total_litres_of_pure_alcohol  continent
0    Afghanistan              0  ...                           0.0         AS
1        Albania             89  ...                           4.9         EU
2        Algeria             25  ...                           0.7         AF
3        Andorra            245  ...                          12.4         EU
4         Angola            217  ...                           5.9         AF
..           ...            ...  ...                           ...        ...
188    Venezuela            333  ...                           7.7         SA
189      Vietnam            111  ...                           2.0         AS
190        Yemen              6  ...                           0.1         AS
191       Zambia             32  ...                           2.5         AF
192     Zimbabwe             64  ...                           4.7         AF

[193 rows x 6 columns]>

In [8]:
drinks.tail

<bound method NDFrame.tail of          country  beer_servings  ...  total_litres_of_pure_alcohol  continent
0    Afghanistan              0  ...                           0.0         AS
1        Albania             89  ...                           4.9         EU
2        Algeria             25  ...                           0.7         AF
3        Andorra            245  ...                          12.4         EU
4         Angola            217  ...                           5.9         AF
..           ...            ...  ...                           ...        ...
188    Venezuela            333  ...                           7.7         SA
189      Vietnam            111  ...                           2.0         AS
190        Yemen              6  ...                           0.1         AS
191       Zambia             32  ...                           2.5         AF
192     Zimbabwe             64  ...                           4.7         AF

[193 rows x 6 columns]>

In [13]:
drinks.describe()

       beer_servings  ...  total_litres_of_pure_alcohol
count     193.000000  ...                    193.000000
mean      106.160622  ...                      4.717098
std       101.143103  ...                      3.773298
min         0.000000  ...                      0.000000
25%        20.000000  ...                      1.300000
50%        76.000000  ...                      4.200000
75%       188.000000  ...                      7.200000
max       376.000000  ...                     14.400000

[8 rows x 4 columns]

In [23]:
drinks.co
lumns

Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')

In [28]:
d = {'a':[1,2], 'b':[3,4]}
pd.DataFrame(d)

   a  b
0  1  3
1  2  4

In [29]:
drinks.shape

(193, 6)

In [5]:
drinks[drinks['continent'].isnull()]

                          country  ...  continent
5               Antigua & Barbuda  ...        NaN
11                        Bahamas  ...        NaN
14                       Barbados  ...        NaN
17                         Belize  ...        NaN
32                         Canada  ...        NaN
41                     Costa Rica  ...        NaN
43                           Cuba  ...        NaN
50                       Dominica  ...        NaN
51             Dominican Republic  ...        NaN
54                    El Salvador  ...        NaN
68                        Grenada  ...        NaN
69                      Guatemala  ...        NaN
73                          Haiti  ...        NaN
74                       Honduras  ...        NaN
84                        Jamaica  ...        NaN
109                        Mexico  ...        NaN
122                     Nicaragua  ...        NaN
130                        Panama  ...        NaN
143             St. Kitts & Nevis  ...        NaN
144                     St. Lucia  ...        NaN
145  St. Vincent & the Grenadines  ...        NaN
174             Trinidad & Tobago  ...        NaN
184                           USA  ...        NaN

[23 rows x 6 columns]

In [11]:
drinks.fillna(value='NA')

                          country  ...  continent
0                     Afghanistan  ...         AS
1                         Albania  ...         EU
2                         Algeria  ...         AF
3                         Andorra  ...         EU
4                          Angola  ...         AF
5               Antigua & Barbuda  ...         NA
6                       Argentina  ...         SA
7                         Armenia  ...         EU
8                       Australia  ...         OC
9                         Austria  ...         EU
10                     Azerbaijan  ...         EU
11                        Bahamas  ...         NA
12                        Bahrain  ...         AS
13                     Bangladesh  ...         AS
14                       Barbados  ...         NA
15                        Belarus  ...         EU
16                        Belgium  ...         EU
17                         Belize  ...         NA
18                          Benin  ...         AF
19                         Bhutan  ...         AS
20                        Bolivia  ...         SA
21             Bosnia-Herzegovina  ...         EU
22                       Botswana  ...         AF
23                         Brazil  ...         SA
24                         Brunei  ...         AS
25                       Bulgaria  ...         EU
26                   Burkina Faso  ...         AF
27                        Burundi  ...         AF
28                  Cote d'Ivoire  ...         AF
29                     Cabo Verde  ...         AF
30                       Cambodia  ...         AS
31                       Cameroon  ...         AF
32                         Canada  ...         NA
33       Central African Republic  ...         AF
34                           Chad  ...         AF
35                          Chile  ...         SA
36                          China  ...         AS
37                       Colombia  ...         SA
38                        Comoros  ...         AF
39                          Congo  ...         AF
40                   Cook Islands  ...         OC
41                     Costa Rica  ...         NA
42                        Croatia  ...         EU
43                           Cuba  ...         NA
44                         Cyprus  ...         EU
45                 Czech Republic  ...         EU
46                    North Korea  ...         AS
47                       DR Congo  ...         AF
48                        Denmark  ...         EU
49                       Djibouti  ...         AF
50                       Dominica  ...         NA
51             Dominican Republic  ...         NA
52                        Ecuador  ...         SA
53                          Egypt  ...         AF
54                    El Salvador  ...         NA
55              Equatorial Guinea  ...         AF
56                        Eritrea  ...         AF
57                        Estonia  ...         EU
58                       Ethiopia  ...         AF
59                           Fiji  ...         OC
60                        Finland  ...         EU
61                         France  ...         EU
62                          Gabon  ...         AF
63                         Gambia  ...         AF
64                        Georgia  ...         EU
65                        Germany  ...         EU
66                          Ghana  ...         AF
67                         Greece  ...         EU
68                        Grenada  ...         NA
69                      Guatemala  ...         NA
70                         Guinea  ...         AF
71                  Guinea-Bissau  ...         AF
72                         Guyana  ...         SA
73                          Haiti  ...         NA
74                       Honduras  ...         NA
75                        Hungary  ...         EU
76                        Iceland  ...         EU
77                          India  ...         AS
78                      Indonesia  ...         AS
79                           Iran  ...         AS
80                           Iraq  ...         AS
81                        Ireland  ...         EU
82                         Israel  ...         AS
83                          Italy  ...         EU
84                        Jamaica  ...         NA
85                          Japan  ...         AS
86                         Jordan  ...         AS
87                     Kazakhstan  ...         AS
88                          Kenya  ...         AF
89                       Kiribati  ...         OC
90                         Kuwait  ...         AS
91                     Kyrgyzstan  ...         AS
92                           Laos  ...         AS
93                         Latvia  ...         EU
94                        Lebanon  ...         AS
95                        Lesotho  ...         AF
96                        Liberia  ...         AF
97                          Libya  ...         AF
98                      Lithuania  ...         EU
99                     Luxembourg  ...         EU
100                    Madagascar  ...         AF
101                        Malawi  ...         AF
102                      Malaysia  ...         AS
103                      Maldives  ...         AS
104                          Mali  ...         AF
105                         Malta  ...         EU
106              Marshall Islands  ...         OC
107                    Mauritania  ...         AF
108                     Mauritius  ...         AF
109                        Mexico  ...         NA
110                    Micronesia  ...         OC
111                        Monaco  ...         EU
112                      Mongolia  ...         AS
113                    Montenegro  ...         EU
114                       Morocco  ...         AF
115                    Mozambique  ...         AF
116                       Myanmar  ...         AS
117                       Namibia  ...         AF
118                         Nauru  ...         OC
119                         Nepal  ...         AS
120                   Netherlands  ...         EU
121                   New Zealand  ...         OC
122                     Nicaragua  ...         NA
123                         Niger  ...         AF
124                       Nigeria  ...         AF
125                          Niue  ...         OC
126                        Norway  ...         EU
127                          Oman  ...         AS
128                      Pakistan  ...         AS
129                         Palau  ...         OC
130                        Panama  ...         NA
131              Papua New Guinea  ...         OC
132                      Paraguay  ...         SA
133                          Peru  ...         SA
134                   Philippines  ...         AS
135                        Poland  ...         EU
136                      Portugal  ...         EU
137                         Qatar  ...         AS
138                   South Korea  ...         AS
139                       Moldova  ...         EU
140                       Romania  ...         EU
141            Russian Federation  ...         AS
142                        Rwanda  ...         AF
143             St. Kitts & Nevis  ...         NA
144                     St. Lucia  ...         NA
145  St. Vincent & the Grenadines  ...         NA
146                         Samoa  ...         OC
147                    San Marino  ...         EU
148           Sao Tome & Principe  ...         AF
149                  Saudi Arabia  ...         AS
150                       Senegal  ...         AF
151                        Serbia  ...         EU
152                    Seychelles  ...         AF
153                  Sierra Leone  ...         AF
154                     Singapore  ...         AS
155                      Slovakia  ...         EU
156                      Slovenia  ...         EU
157               Solomon Islands  ...         OC
158                       Somalia  ...         AF
159                  South Africa  ...         AF
160                         Spain  ...         EU
161                     Sri Lanka  ...         AS
162                         Sudan  ...         AF
163                      Suriname  ...         SA
164                     Swaziland  ...         AF
165                        Sweden  ...         EU
166                   Switzerland  ...         EU
167                         Syria  ...         AS
168                    Tajikistan  ...         AS
169                      Thailand  ...         AS
170                     Macedonia  ...         EU
171                   Timor-Leste  ...         AS
172                          Togo  ...         AF
173                         Tonga  ...         OC
174             Trinidad & Tobago  ...         NA
175                       Tunisia  ...         AF
176                        Turkey  ...         AS
177                  Turkmenistan  ...         AS
178                        Tuvalu  ...         OC
179                        Uganda  ...         AF
180                       Ukraine  ...         EU
181          United Arab Emirates  ...         AS
182                United Kingdom  ...         EU
183                      Tanzania  ...         AF
184                           USA  ...         NA
185                       Uruguay  ...         SA
186                    Uzbekistan  ...         AS
187                       Vanuatu  ...         OC
188                     Venezuela  ...         SA
189                       Vietnam  ...         AS
190                         Yemen  ...         AS
191                        Zambia  ...         AF
192                      Zimbabwe  ...         AF

[193 rows x 6 columns]

In [12]:
drinks.isnull().sum()

country                          0
beer_servings                    0
spirit_servings                  0
wine_servings                    0
total_litres_of_pure_alcohol     0
continent                       23
dtype: int64

In [13]:
drinks['continent']

0       AS
1       EU
2       AF
3       EU
4       AF
5      NaN
6       SA
7       EU
8       OC
9       EU
10      EU
11     NaN
12      AS
13      AS
14     NaN
15      EU
16      EU
17     NaN
18      AF
19      AS
20      SA
21      EU
22      AF
23      SA
24      AS
25      EU
26      AF
27      AF
28      AF
29      AF
30      AS
31      AF
32     NaN
33      AF
34      AF
35      SA
36      AS
37      SA
38      AF
39      AF
40      OC
41     NaN
42      EU
43     NaN
44      EU
45      EU
46      AS
47      AF
48      EU
49      AF
50     NaN
51     NaN
52      SA
53      AF
54     NaN
55      AF
56      AF
57      EU
58      AF
59      OC
60      EU
61      EU
62      AF
63      AF
64      EU
65      EU
66      AF
67      EU
68     NaN
69     NaN
70      AF
71      AF
72      SA
73     NaN
74     NaN
75      EU
76      EU
77      AS
78      AS
79      AS
80      AS
81      EU
82      AS
83      EU
84     NaN
85      AS
86      AS
87      AS
88      AF
89      OC
90      AS
91      AS
92      AS
93      EU
94      AS
95      AF
96      AF
97      AF
98      EU
99      EU
100     AF
101     AF
102     AS
103     AS
104     AF
105     EU
106     OC
107     AF
108     AF
109    NaN
110     OC
111     EU
112     AS
113     EU
114     AF
115     AF
116     AS
117     AF
118     OC
119     AS
120     EU
121     OC
122    NaN
123     AF
124     AF
125     OC
126     EU
127     AS
128     AS
129     OC
130    NaN
131     OC
132     SA
133     SA
134     AS
135     EU
136     EU
137     AS
138     AS
139     EU
140     EU
141     AS
142     AF
143    NaN
144    NaN
145    NaN
146     OC
147     EU
148     AF
149     AS
150     AF
151     EU
152     AF
153     AF
154     AS
155     EU
156     EU
157     OC
158     AF
159     AF
160     EU
161     AS
162     AF
163     SA
164     AF
165     EU
166     EU
167     AS
168     AS
169     AS
170     EU
171     AS
172     AF
173     OC
174    NaN
175     AF
176     AS
177     AS
178     OC
179     AF
180     EU
181     AS
182     EU
183     AF
184    NaN
185     SA
186     AS
187     OC
188     SA
189     AS
190     AS
191     AF
192     AF
Name: continent, dtype: object